{% extends 'base.html' %}
{% block content %}

	<h1>Добро пожаловать в систему управления виртуальными машинами на GPU серверах </h1>
	{% if vm_state %}
	{% for el in vm_state %}
		<div class="alert alert-warning mt-2">
			<h4>ID виртуальной машины: {{el.id}}</h4>
			<h4>Статус виртуальной машины: {{el.status}}</h4>
			<h4>Дата создания виртуальной машины: {{el.created_at}}</h4>
			<h4>Дата изменения виртуальной машины: {{el.updated_at}}</h4>
			<h4>Количество затребованных процессорных ядер:{{el.CPU_Cores}}</h4>
			<h4>Количество затребованной оперативной памяти:{{el.RAM_Count_GB}}</h4>
			<h4>Количество затребованных графических ускорителей:{{el.GPU_Count}}</h4>
			<h4>IP-адрес виртуальной машины:{{el.ip}}</h4>
			<h4>Используемая операционная система:{{el.os}}</h4>
			<h4>Имеется ли пинг до виртуальной машины:{{el.ping}}</h>
		</div>
	{%endfor%}
	{%else%}
		<p> Отсуствуют запущенные виртуальные машины </p>
	{%endif%}
{%endblock%}
